= devise_error_messages!
.container
  #content
    .row
      .heading.text-center
        %h1 Edit #{resource_name.to_s.humanize}
      .col-sm-8.col-sm-offset-2
        .well.panel-wrap
          .panel
            .panel-body
              = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
                %legend Edit account details
                %fieldset
                  .form-group.float-label-control.required
                    = f.label :email
                    = f.email_field :email, autofocus: true, class: 'form-control'
                    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                      %div
                        Currently waiting confirmation for: #{resource.unconfirmed_email}
                  .form-group.float-label-control
                    = f.label :name
                    = f.text_field :name, autofocus: false, class: 'form-control'
                    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                      %div
                        Currently waiting confirmation for: #{resource.unconfirmed_email}
                  -# .form-group.float-label-control
                  -#   = f.label :password
                  -#   %em (leave blank if you don't want to change it)
                  -#   = f.password_field :password, autocomplete: "off", class: 'form-control'
                  -# .form-group.float-label-control
                  -#   = f.label :password_confirmation
                  -#   = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
                  -# .form-group.float-label-control
                  -#   = f.label :current_password
                  -#   %i (we need your current password to confirm your changes)
                  -#   = f.password_field :current_password, autocomplete: "off", class: 'form-control'
                  .clearfix
                  .form-group
                    = f.submit "Update", class: 'btn btn-primary btn-block'

                -# .row.button-row
                -#   .col-xs-12
                -#     %fieldset #{button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure you want to delete this account" }, method: :delete, class: 'btn btn-danger btn-large' }
