= devise_error_messages!
.container
  #content
    .row
      .heading.text-center
        %h1 Resend unlock instructions
      .col-sm-8.col-sm-offset-2
        .well.panel-wrap
          .panel
            .panel-body
              = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
                %fieldset
                  .form-group.float-label-control.required
                    = f.label :email
                    = f.email_field :email, autofocus: true, class: 'form-control'
                  .form-group.float-label-control.required
                    = f.submit "Resend unlock instructions", class: 'btn btn-primary btn-block'
